html {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/* Styles for the Body elements */

body {
    margin: 0 auto;
    background-color: #FBF8CC;
}

header {
    background-color: #A3C4F3;
    color: black;
    padding: 20px;
    text-align: center;
    font-weight: bolder;
    font-size: 25px;
    border: 1px solid #90DBF4;
}

h1 {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

h2 {
    text-align: center;
    font-size: 40px;
    margin-bottom: -5px;
    text-decoration: underline;
}

/* Styles for profile image and text */

#me h1 {
    margin-bottom: -10px;
}

#me {
    margin: auto;
    width: 50%;
    padding: 10px;
}

#me-pic {
    border-radius: 50px;
    margin-right: 40px; 
    vertical-align: top;
    border: 3px solid #CFBAF0;
}

#me p {
    display: inline-block;
    width: 65%;
}

/* Styles for the Hobbies & Experiences */

#hobbies h2 {
    margin-top: -10px;
}

.column {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}

.title {
    text-align: center;
    font-size: 30px;
    color: black;
    font-weight: bold;
}

.content {
    margin: 0 10px 0 10px;
}

.content p {
    margin-bottom: 20px;
}

.img-content {
    width: 100%;
    border-radius: 70px;
    padding: 2px 16px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(152, 245, 225, 0.5);
    transition: 0.5s;
    width: 95%;
    background-color: #FDE4CF;
    margin-left: 10px;
    border: 1px solid #F1C0E8;
}

.card:hover {
    box-shadow: 0 10px 20px 0 rgba(163, 196, 243, 5);
}

/* Styles for the Form */

#line-form {
    width: 95%;
}

.contact-form {
    padding: 10px;
    text-align: left;
    margin-top: 20px;
}

.form {
    /* display: flex; */
    /* flex-flow: row wrap; */
    /* align-items: center; */
    margin: auto;
    border: 2px solid #A3C4F3;
    border-radius: 20px;
    width: 30%;
}

.form-field {
    padding: 10px;
}

#text-field {
    width: 100%;
}

.btn {
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    padding: 15px 25px;
    color: black;
    border-radius: 15px;
}

.input {
    padding: 15px 25px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #A3C4F3;
    border-radius: 4px;
    box-sizing: border-box;
    width: 100%;
}

.btn {
    background-color: #B9FBC0;
    color: black;
    width: 100%;
    font-weight: bold;
    margin: auto;
}

.btn:hover {
    background-color: #90DBF4;
    color: black;
}

/* Back to Top Styles */

#back-to-top {
    float: right;
    margin-bottom: 20px;
    margin-right: 20px;
    text-decoration: none;
    background-color: #CFBAF0;
    border: 1px solid #F1C0E8;
    border-radius: 2px;
    padding: 10px;
}

#back-to-top:hover {
    text-decoration: none;
    background-color: #FFCFD2;
}

/* Footer Styles */

footer {
    background-color: #8EECF5;
    width: 100%;
    text-align: left;
    margin-top: 50px;
    padding-top: 1px;
    padding-bottom: 1px;
    border: 1px solid #A3C4F3;
}

footer p {
    text-align: center;
}